{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        section,
        footer {
            background: #9e76f5;
            color: #f1f4fa;
        }

        footer p {
            padding: 20px 0;
            text-align: center;
        }
    </style>
</head>

<body>
    <footer>
        <p>Copyright &copy; 2019 <img style="width: 20px;" src="{% static 'media/ACLClogo.jpg' %}" alt="our ACLC logo"> All Rights Reserved.</p>
    </footer>
</body>

</html>