
<header>
  <div class="containermega">
      <div class="logo">
          <img src="/static/media/NRTM Logo.png" width="60px" alt="">
      </div>
      <nav class="navbar">
          <ul class="menu">
              <li><a href="/">Home</a></li>
              <li><a href="#">Dropdown</a>
                  <ul class="submenu">
                      <li><a href="#item1"> item 1</a></li>
                      <li><a href="#item1"> item 2</a>

                          <ul class="submenu1">
                              <li><a href="#item1"> item- 1</a></li>
                              <li><a href="#item1"> item- 2</a></li>
                              <li><a href="#item1"> item- 3</a></li>
                              <li><a href="#item1"> item- 4</a></li>
                          </ul>

                      </li>
                      <li><a href="#item1"> item 3</a>
                          <ul class="submenu1">
                              <li><a href="#item1"> item- 1</a></li>
                              <li><a href="#item1"> item- 2</a></li>
                              <li><a href="#item1"> item- 3</a></li>
                              <li><a href="#item1"> item- 4</a></li>
                          </ul>
                      </li>
                      <li><a href="#item1"> item 4</a></li>
                  </ul>
              </li>

              <li>
                  <a href="#">Services</a>
                  <div class="megamenu">
                      <div class="megamenuitem">
                          <!-- <h2>Web Developer</h2> -->
                          <ul>
                              <li> HTML </li>
                              <li> CSS </li>
                              <li> JAVA SCRIPT </li>
                              <li> PYTHON </li>
                          </ul>
                      </div>

                      <div class="megamenuitem">
                          <!-- <h2>Web Developer</h2> -->
                          <ul>
                              <li> HTML </li>
                              <li> CSS </li>
                              <li> JAVA SCRIPT </li>
                              <li> PYTHON </li>
                          </ul>
                      </div>

                      <div class="megamenuitem">
                          <!-- <h2>Web Developer</h2> -->
                          <ul>
                              <li> HTML </li>
                              <li> CSS </li>
                              <li> JAVA SCRIPT </li>
                              <li> PYTHON </li>
                          </ul>
                      </div>

                      <div class="megamenuitem">
                          <!-- <h2>Web Developer</h2> -->
                          <ul>
                              <li> HTML </li>
                              <li> CSS </li>
                              <li> JAVA SCRIPT </li>
                              <li> PYTHON </li>
                          </ul>
                      </div>

                  </div>
              </li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="#">Internship</a></li>
          </ul>
      </nav>
  </div>
</header>